@media (min-width: 1024px) {
    .mobile_home_page_container {
        display: none;
    }
    .home_page_container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #D93BFC;
    }
    .home_page_block {
        position: absolute;
        top: 15%;
        left: 20%;
        width: 60%;
        height: 60%;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .home_image_block {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #F9D8FE;
        border-radius: 20px 0px 0px 20px;
    }
    .home_image_block_icon {
        width: 80%;
        padding: 0% 10% 0% 10%
    }
    .home_form_input {
        border: 1px solid #F9D8FE;
        width: 80%;
        height: 10%;
        border-radius: 10px;
    }
    .home_messages_block {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
    }
    .home_messages_container {
        width: 100%;
        height: 100%;
    }
    .home_messages_view {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 1023px) {
    .home_page_container {
        display: none;
    }
    .mobile_home_page_container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #D93BFC;
    }
    .mobile_home_page_block {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        background-color: #ffffff;
        border-radius: 20px;
    }
    .mobile_home_image_block {
        position: absolute;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #F9D8FE;
        border-radius: 20px 20px 0px 0px;
    }
    .mobile_home_image_block_icon {
        height: 70%;
        padding: 0% 10% 0% 10%
    }
    .mobile_home_form_input {
        border: 1px solid #F9D8FE;
        width: 80%;
        height: 15%;
        border-radius: 7px;
    }
    .mobile_home_messages_block {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 70%;
    }
    .mobile_home_messages_container {
        width: 100%;
        height: 100%;
    }
    .mobile_home_messages_view {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}